{% extends "base.html" %}

{% block content %}
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h3 class="bg-dark text-warning">Salut Mr/Mme <strong>{{ name }}</strong></h3>
                <h4 class="bg-dark text-warning">Merci de nous faire confiance Mr/Mme <strong>{{ name }}</strong> !!! <br>Nous avons reçu votre commande on feras la livraison dans 48H</h4>
            </div>
        </div>
    
    </div>
{% endblock content %}