{% extends "base.html" %}

{% block content %}

     <!-- ce code gerer la partie l'affichage de la barre de recherche-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col">
                            <input class="form-control me-2" type="search" name="item-name" placeholder="Search your product here..." aria-label="Search">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div><br>

     <!-- ce code gerer la partie l'affichage des produits au client -->
    <div class="container">
        <div class="row">
            {% for product in product_object %}
            <div class="col-md-3">
                <div class="card" style="width: 11rem;">
                    <img src="{{ product.image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="card-title"> {{ product.title }}</div>
                        <div class="card-text"> {{ product.price }}</div>
                        <a href="{{ product.id }}" class="btn btn-success">View</a>
                        <button id="{{ product.id}}" class="btn btn-primary add">Add</button>
                    </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- ce code gerer la partie de la pargination-->
    <center>
        <div class="row mt-5">
            <div class="col-md-3 offset-md-5">
                <ul class="pagination">
                    {% if product_object.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page= {{ product_object.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}
    
                        <li class="page-item active">
                            <a class="page-link" href="?page={{ product_object.number}}">{{ product_object.number}}</a>
                        </li>
    
                    {% if product_object.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_object.next_page_number }}">Next</a>
                    </li>
                    {% endif %}
    
                </ul>
            </div>
        </div>
    </center>
{% endblock content %}

{% block js %}

    <script type="text/javascript">
        if (localStorage.getItem('panier') == null){
            var panier = {};
        }else{
            panier = JSON.parse(localStorage.getItem('panier'));
        }
        $(document).on('click', '.add', function(){
            console.log('Add');
            var item_id = this.id.toString();
            console.log(item_id);
            if (panier[item_id] != undefined){
                panier[item_id] = panier[item_id] +1;
            }else{
                panier[item_id] = 1;
            }
            console.log(panier);
            localStorage.setItem('panier', JSON.stringify(panier));
            document.getElementById("panier").innerHTML ="Panier("+ Object.keys(panier).length +")";
        })
    </script>

{% endblock js %}